$color-red: #763a31;
$color-black: #000;
$background-color: #fff;
$primaryfont: "Open Sans", sans-serif;

body {
  margin: 0;
  padding: 0;
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  background-color: #8d726d;
}

/* header och icons */
header {
  background-image: url("../img/background.jpg");

  .wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }
}

.links {
  text-align: right;
  ul {
    list-style-type: none;
  }
  li {
    display: contents;
  }
  a {
    text-decoration: none;
    color: $color-black;
  }
}

/* om mig */
.aboutme {
  background-color: $background-color;

  h1 {
    color: $color-red;
    font-family: $primaryfont;
  }
  p {
    color: $color-black;
    font-family: $primaryfont;
    text-align: left;
    line-height: 1.7;
  }
  a {
    color: $color-red;
    text-decoration: none;
  }
  a:hover {
    color: $color-black;
  }
}

/* kompetenser och erfarenheter */
.skills-experience {
  display: grid;
}

.information {
  background-color: $background-color;
  font-size: 0.9rem;
  line-height: 1.7;

  h2 {
    color: $color-red;
    font-size: 1rem;
  }

  ul {
    list-style-type: none;
  }

  li {
    line-height: 1.7;
  }

  .skillspicture {
    display: block;
    margin: 0 50px;
  }
}

/* portfolio */
.portfolio {
  margin-bottom: 15px;
}

.portfolio img {
  opacity: 1;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.portfolio img:hover {
  opacity: 0.5;
}
