@media screen and (min-width: 600px) {
  /* kompetenser och erfarenheter */
  .skills-experience {
    grid-template-columns: auto auto;
  }
  .information {
    position: relative;
    padding-bottom: 20px;

    .skillspicture {
      width: 50%;
      height: 5%;
    }
  }
}
